/* ---------- */
/* EVERYWHERE */
/* ---------- */

 /* a {border: solid rgb(255, 0, 221) 2px; }
div {border: solid rgb(255, 0, 221) 2px; } 
main {border: solid rgb(255, 0, 221) 2px; } */

div {
    overflow: hidden;
  }

:root {
    /* !!! WARNING: These are overridden in main.js -> setColourMode(lightMode) !!! */
    /* Default colours */
    --background: #f0e5d8;
    --header: #293535;    
    --text: #444444;
    --alternate-text: white;
    --header-button: #e7d8c9;
    --header-light: #879183;
}

body {
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0;
    min-height: 100vh;
    height: 100%;
    transition: background-color 0.3s, border-color 0.3s;
}


::selection {
    background-color: #8f958f;
    color: var(--header);
}

.accent-button {
    background-color: var(--accent-bright);
    border: none;
    border-radius: 1vh;
    color: inherit;
    cursor: pointer;
    font: inherit;
    padding: 4vh 8vh;
    transition: background-color 0.3s, border-color 0.3s;
}

.accent-button:hover {
    background-color: var(--accent-pale);
}

.accent-button-wide {
    width: 7vh;
}

/* ------ */
/* HEADER */
/* ------ */

header {
    background-color: var(--header);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 2vh;
    gap: 2vh;
    transition: background-color 0.3s, border-color 0.3s;
    box-sizing: border-box;
    height: 6vh;
    box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.3);
}

.header-logo {
    align-items: center;
    color: inherit;
    display: flex;
    padding: 1vh;
    gap: 1vh;
    border-radius: 1vh;
    transition: background-color 0.3s, border-color 0.3s;
    text-decoration: none;

}

.header-logo img {
    height: 3.5vh;
    width: auto;
}

.header-logo:hover {
    background-color: var(--header-light); /* Slight hover effect */
    text-decoration: none;
}

.header-logo-text {
    font-weight: 500;
    color: var(--alternate-text);
    font-style: normal;
    text-decoration: none;
    font-size: 2vh;
}

.header-box{
    display: flex;
    align-items: center;
    gap: 1.75vh;
    justify-content: flex-start;
}

/* General Button Styling */
.header-button {
    background-color: var(--header); 
    border: 0.3vh solid var(--header-light); 
    border-radius: 20%;
    height: 3.5vh;
    width: 3.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, border-color 0.3s;
    padding: 0.2vh;
}


.header-button:hover {
    background-color: var(--header-light); /* Slight hover effect */
}

/* Icon Styling */
.header-button i {
    color: var(--header-button); /* Icon color matching text color */
    font-size: 2vh; /* Set the icon size */
}



.header-button-pointer {
    cursor: pointer;
}





/* ------ */
/* FOOTER */
/* ------ */

footer {
    background-color: var(--header);
    border-top: 0.1vh solid var(--text);
    color: var(--header-light);
    display: flex;
    gap: 3vh;
    justify-content: center;
    padding: 1.5vh;
    transition: background-color 0.3s, border-color 0.3s;
    box-sizing: border-box;
    height:6vh;
    align-items: center;
    margin: 5vh auto auto auto;


    /* For a sticky footer */
    /* position: fixed;
    bottom: 0;
    width: 100%; */  
}


footer i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
}

footer a {
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 2vh;
}

footer a:hover {
    text-decoration: underline;
}

.footer-leaf {
    position: absolute;
    margin-left: 97%; /* Push the image to the far right */

    height: 5vh;
    width: auto;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  
}


@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-1vh);
		-ms-transform:     translateY(-1vh);
		transform:         translateY(-1vh)
	}
	60% {
		-webkit-transform: translateY(-0.5vh);
		-ms-transform:     translateY(-0.5vh);
		transform:         translateY(-0.5vh)
	}
}

.footer-leaf:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
}








/* ----- */
/* INDEX */
/* ----- */

.index-main-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    
    margin: 5vh auto auto;
    transition: background-color 0.3s, border-color 0.3s;

    height: 45vh;
    width: 45vw;

   

    position: relative;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.index-main-title-textbox {
    background-color: rgba(83, 83, 83, 0.8);

    backdrop-filter: blur(0.2vh); /* Blur effect */

    color: var(--alternate-text);
    border-radius: 2vh;
    
    padding: 2vh;
    text-align: left;

    font-size: 1.5vh;
    width: 80%;
    max-height: 80%;

    position: absolute;
    left: 25%;
    
    color: var(--alternate-text);

    
    z-index: 2; /* Ensures the text appears above the image */

    transition: background-color 0.3s, box-shadow 0.3s ease-in-out;

    animation-delay: 0.3s;
    animation-duration: 1.2s;
    animation-fill-mode: both;
}

/* Fade in animation */
.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(2vh);
    }
    to { opacity: 1;}
}

.index-main-title-textbox:hover {
    background-color: rgba(83, 83, 83, 0.9);
    box-shadow: 0 1vh 2vh rgba(10, 10, 10, 0.5);
}

.index-main-title img {
    border-radius: 2vh;
    height: 100%;
    width: 100%;
    object-fit: cover; /* Ensures the image covers the container */
    z-index: 1;
    box-shadow: 0 1vh 2vh rgba(10, 10, 10, 0.25);

    position: absolute;

    animation-duration: 1.5s;
    animation-fill-mode: both;

    
}

/* -------------- */
/* INDEX SHOWCASE */
/* -------------- */

/* Main container for the project showcase */
.index-main-showcase {
    display: grid;
    grid-template-columns: 35vh auto;
    grid-template-rows: 1fr 1fr;
    
    height: 35vh;
    width: 75vw;
    margin: 10vh auto;
    position: relative;
    background-color: var(--alternate-text);
    box-shadow: 0 1vh 2vh rgba(10, 10, 10, 0.25);
    border-radius: 2vh;
    grid-template-rows: 0.25fr 1.75fr;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.1s ease-in-out;

    animation-delay: 1s;
    animation-duration: 1.2s;
    animation-fill-mode: both;
}

/* Slide container to contain image and textbox */
.slide-container {
    grid-column: 1 / 2; /* Span only the first column */
    grid-row: 1 / 4; /* Span both rows */
    border-radius: 2vh;
    height: 100%;
    width: 100%;
    position: relative; /* Ensure children can position relative to this */
    overflow: hidden; /* Hide elements sliding out of view */
    align-items: center;
    justify-content: center;
    box-shadow: 0 1vh 2vh rgba(10, 10, 10, 0.0);
}

/* --------------- */
/* SLIDE CONTAINER */
/* --------------- */

/* Image styling */
.slide-container-image {
    width: 90%;
    height: 90%;
    border-radius: 2vh;
    margin: 1vh;
    padding: 1vh;
    background-color: rgba(83, 83, 83, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.5s ease-in-out; /* Smooth transition */
}

/* Textbox styling */
.slide-container .slide-container-info {
    position: absolute;
    bottom: -100%; /* Initially hidden out of view */
    left: 0;
    right: 0;
   
    
    text-align: center;
    transition: bottom 0.5s ease-in-out; /* Smooth transition */
}

/* Hover effect */
.slide-container:hover .slide-container-image {
    top: -100%; /* Slide the image out of the container */
}

.slide-container:hover .slide-container-info {
    bottom: 0; /* Slide the text div into view */
}

.slide-container-info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(5, 1fr);

    background-color: rgba(83, 83, 83, 0.2); /* Dark background */

    margin: 2.5% 2.5% 2.5% 2.5%;

    width: 95%;
    height: 95%;
    border-radius: 2vh;
}

.slide-container-info-image{
    width: 75%;
    height: auto;
    grid-column: 1 / 2; /* Image occupies the first column */
    justify-self: center; /* Center the image horizontally */
    align-self: center; /* Center the image vertically */
    margin: 5%;
}

.slide-container-info-text {
    grid-column: 2 / 3; /* Text occupies the second column */
    text-align: left; /* Align text to the left */
    align-self: center; /* Center text vertically */
    padding-right: 1vh;
    font-size: 1.5vh;
    color: var(--text);
}







/* Title styling, taking up the top-right row */
.index-main-showcase-title {
    grid-column: 2 / 3; /* Take the second column */
    grid-row: 1 / 2; /* Only the first row */
    font-size: 2vh;
    font-weight: 600;
    display: flex;
    align-items: center; /* Center the title vertically */
    justify-content: center; /* Center the title horizontally */
    width: 100%;
    height: 100%;

    text-decoration: underline;
}

/* Textbox for project info, taking up the bottom-right row */
.index-main-showcase-textbox {
    color: var(--text);
    
    grid-column: 2 / 3; /* Take the second column */
    grid-row: 2 / 3; /* Only the second row */
    align-items: top; /* Center the title vertically */
    justify-content: left; /* Center the title horizontally */
    font-size: 1.5vh;
    border-radius: 2vh;
    margin: 1vh;
    padding: 1vh;

    background-color: rgba(150, 150, 150, 0.2);

    box-shadow: 0 1vh 2vh rgba(10, 10, 10, 0.1);

    
    
}

.index-main-showcase:hover {
    background-color: rgba(150,150,150, 0.3);
    box-shadow: 0 1vh 2vh rgba(10, 10, 10, 0.5);
    cursor: pointer;
}

.index-main-showcase:active {
    background-color: rgba(150,150,150, 0.3);
    box-shadow: 0 1vh 2vh rgba(10, 10, 10, 0.15);
    transform: translateY(1vh);

}






