/* ---------- */
/* EVERYWHERE */
/* ---------- */

/* a {border: solid rgb(255, 0, 221) 2px; }
div {border: solid rgb(255, 0, 221) 2px; } */

:root {
    /* !!! WARNING: These are overridden in main.js -> setColourMode(lightMode) !!! */

    --background: #f0e5d8;
    --header: #293535;    
    --text: #535353;
    --alternate-text: white;
    --header-button: #e7d8c9;
    --header-light: #879183;
    
}

body {
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
    margin: 0;
    min-height: 100vh;
    height: 100%;
    transition: background-color 0.3s, border-color 0.3s;
}


::selection {
    background-color: #8f958f;
    color: var(--header);
}

.accent-button {
    background-color: var(--accent-bright);
    border: none;
    border-radius: 4px;
    color: inherit;
    cursor: pointer;
    font: inherit;
    padding: 8px 16px;
    transition: background-color 0.3s, border-color 0.3s;
}

.accent-button:hover {
    background-color: var(--accent-pale);
}

.accent-button-wide {
    width: 320px;
}

/* ------ */
/* HEADER */
/* ------ */

header {
    background-color: var(--header);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 2vh;
    gap: 2vh;
    transition: background-color 0.3s, border-color 0.3s;
    box-sizing: border-box;
    height: 7vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.header-logo {
    align-items: center;
    color: inherit;
    display: flex;
    padding: 1vh;
    gap: 1vh;
    border-radius: 6px;
    transition: background-color 0.3s, border-color 0.3s;
    text-decoration: none;

}

.header-logo img {
    height: 3.5vh;
    width: auto;
}

.header-logo:hover {
    background-color: var(--header-light); /* Slight hover effect */
    text-decoration: none;
}

.header-logo-text {
    font-weight: 500;
    color: var(--alternate-text);
    font-style: normal;
    text-decoration: none;
    font-size: 2vh;
}

.header-box{
    display: flex;
    align-items: center;
    gap: 1.75vh;
    justify-content: flex-start;
}

/* General Button Styling */
.header-button {
    background-color: var(--header); 
    border: 0.3vh solid var(--header-light); 
    border-radius: 20%;
    height: 3.5vh;
    width: 3.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, border-color 0.3s;
    padding: 0.2vh;
}


.header-button:hover {
    background-color: var(--header-light); /* Slight hover effect */
}

/* Icon Styling */
.header-button i {
    color: var(--header-button); /* Icon color matching text color */
    font-size: 2vh; /* Set the icon size */
}



.header-button-pointer {
    cursor: pointer;
}





/* ------ */
/* FOOTER */
/* ------ */

footer {
    background-color: var(--header);
    border-top: 0.1vh solid var(--text);
    color: var(--header-light);
    display: flex;
    gap: 3vh;
    justify-content: center;
    padding: 1.5vh;
    transition: background-color 0.3s, border-color 0.3s;
    box-sizing: border-box;
    height:6vh;
    align-items: center;


    /* For a sticky footer */
    /* position: fixed;
    bottom: 0;
    width: 100%; */  
}


footer i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
}

footer a {
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 2vh;
}

footer a:hover {
    text-decoration: underline;
}

.footer-leaf {
    position: absolute;
    margin-left: 97%; /* Push the image to the far right */

    height: 5vh;
    width: auto;

-webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  
}


@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-1vh);
		-ms-transform:     translateY(-1vh);
		transform:         translateY(-1vh)
	}
	60% {
		-webkit-transform: translateY(-0.5vh);
		-ms-transform:     translateY(-0.5vh);
		transform:         translateY(-0.5vh)
	}
}

.footer-leaf:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}








/* ----- */
/* INDEX */
/* ----- */

.index-main {
    align-items: center;
    display: flex;
    flex-direction: row;
    
    margin: 5vh auto auto;
    transition: background-color 0.3s, border-color 0.3s;

    height: 50vh;
    width: 50vw;

    position: relative;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */

}

.index-main-textbox {
    background-color: rgba(83, 83, 83, 0.8);

     

    color: var(--alternate-text);
    border-radius: 2vh;
    
    padding: 2vh;
    text-align: left;

    font-size: 2.5vh;
    width: 80%;

    position: absolute; /* To overlap the image */
    top: 50%; 
    left: 50%;
    
    color: var(--alternate-text);

    transform: translate(-25%, -50%);
    z-index: 2; /* Ensures the text appears above the image */

    transition: background-color 0.3s, box-shadow 0.3s ease-in-out;
}

.index-main-textbox:hover {
    background-color: rgba(83, 83, 83, 0.9);
    box-shadow: 0 4px 8px rgba(10, 10, 10, 0.5);
   
    
}

.index-main img {
    border-radius: 2vh;
    height: 100%;
    width: 100%;
    object-fit: cover; /* Ensures the image covers the container */
    z-index: 1;
    box-shadow: 0 4px 8px rgba(10, 10, 10, 0.25);
}


